*.config
*.dll
*.pdb
*.cache
*.exe
MeshkatEnterprise.Booklet.Index/obj/Debug/MeshkatEnterprise.Booklet.Index.csproj.FileListAbsolute.txt
MeshkatEnterprise.Booklet.Index/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MeshkatEnterprise.Booklet.Index/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MeshkatEnterprise.Booklet.Index/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.force
MeshkatEnterprise.Booklet.Persistence.Sql/obj/
MeshkatEnterprise.Booklet.Persistence/obj/
MeshkatEnterprise.Booklet.Search/obj/
MeshkatEnterprise.Booklet.Security/obj/
MeshkatEnterprise.Booklet.Service.Dummy/
MeshkatEnterprise.Booklet.Service.Impl/obj/
MeshkatEnterprise.Booklet.Service.UnitTest/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MeshkatEnterprise.Booklet.Service.UnitTest/obj/
MeshkatEnterprise.Booklet.Service/obj/
*.png
*.ttf
*.nupkg
*.vssscc
packages/
*.gif
