#txtNewComment {
     max-height: 500px;
        min-height: 100px;
    width: 100%;
    background-color: #EBEBEB;
    resize: vertical;
        border:1px ridge #b2b1b1;
    display: block;
    box-sizing: border-box;
    margin-bottom: 1px;
    overflow-x: hidden;
    font-family: 'BYekan';
    margin-top: 2px;
    max-height: 300px;
}
.commentOptionsDiv {
    box-sizing: border-box;
    padding: 5px;
    margin-top: -1px;
    margin-bottom: 2px;
}
#newCommentArea {
    margin-bottom: 35px;
    width: 98%;
    display:none;
}
#btnSaveComment,#btnCancelComment {
    height: 20px;
    width: 65px;
    font-size: 12px;
    font-family: 'BYekan';
}
.btn {
    height: 20px;
    width: 65px;
    font-size: 12px;
    font-family: 'BYekan';
    padding:2px;
    vertical-align: middle;
    line-height: 0px;
}

.btn:hover {
    color: white;
    background-color: #348a8f;
}

.cancelBtn:hover {
    color: white;
    background-color: #800000;
}


.commentItem {
    margin: 2px;
    margin-top: 5px;
    min-height: 70px;
    overflow-x: hidden;
    overflow-y: auto;
    border: solid 1px #89bbbe;
    cursor: pointer;
    font-size: small;
    background-color: #ffffff;
}
.commentItem .commenterName {
    color: #02969b;
    font-size:x-small;
}
.commentHeder {
    padding-right: 2px;
    padding-left: 2px;
    color: #ffffff;
}
.commentBody-more {
    color:#02b105;
}
.commentBody-more:hover {
    color:#35d9e2;
}
.commentItem-selected {
    background-color: #8bd9de;
}

.commentItem-hover {
    background-color: #ebebeb;
}

.btnCommentHeader {
    float: left;
    margin-left: 5px;
    color: #717171;
    display: none;
}

    .btnCommentHeader:hover {
        color: #02969b;
    }
.commentBody {
    padding: 2px;
    text-align: justify;
    text-justify: inter-word;
    overflow-x:hidden;
}
.commentTypeColor {
    color: #02969b;
    margin-top: 5px;
    font-size:10px;
    }
    #editCommentArea {
        display: none;
        width: 98%;
        height: 100%;

    }
    .txtEditComment {
        height: 90%;
    }
    .editcommentTopBar {
      color: white;
      text-align: center;
      padding: 2px;
      font-size: 12px;
      background-color: #228BC2;
    
    }
.commentOptionToolTip {
    background-color: #b2b1b1;
    color: #808080;
    font-size: x-small;
    font-family: 'BYekan';
    border-radius: 0px;
    border: 0px;
    padding: 2px;
}
#commentOptionsDiv {
    float: left;
}
#editableContent {
        height: 94%;
        width: 100%;
        border:1px ridge #b2b1b1;
        display: block;
        box-sizing: border-box;
        margin-bottom: 1px;
        overflow-x: hidden;
        font-family: 'BYekan';
        margin-top: 2px;
    
}

.editButtons {
    float: left;
}
.commentType {
    display: none;
    color:darkmagenta;
    font-size: x-small;
}
	
select {
    float: right;
    padding-right: 35px;
     font-family: 'BYekan';
    margin: 0;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}


label {
    position: relative;
        float: right;
    width: 50px;
}
label:after {
    content:'<>';
    font:10px "Consolas", monospace;
    color:#aaa;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:2px;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}
label:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    background:#f8f8f8;
    position:absolute;
    pointer-events:none;
    display:block;
}
.error {
    border-style: solid;
    border-color: red;
    
}