@inherits System.Web.Mvc.WebViewPage
@using MeshkatEnterprise.Infrastructure.Web
@{
    Layout = null;
}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>جزوه</title>
    <style id="bookletStyles" type="text/css">
    </style>
    <!---------------------------------- Style Sheets-------------------------------------->
    <link href="~/Areas/Booklet/Views/Styles/ladda-themeless.min.css" rel="stylesheet" />
    <link href="~/Areas/Booklet/Views/Styles/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Areas/Booklet/Views/Styles/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Areas/Booklet/Views/Styles/meshkatTab.css" rel="stylesheet" />
    <link href="~/Areas/Booklet/Views/Styles/jquery.ambiance.css" rel="stylesheet" />
    <link href="~/Areas/Booklet/Views/Styles/fancytree/ui.fancytree.css" rel="stylesheet" />
    <link href="~/Areas/Booklet/Views/Styles/fancytree/rtl.css" rel="stylesheet" />
    <link href="~/Areas/Booklet/Views/Styles/booklet.css" rel="stylesheet" />
    <link href="~/Areas/Booklet/Views/Styles/jquery-ui-overwrite.css" rel="stylesheet" />
    <link href="~/Areas/Booklet/Views/Styles/meshkatBook.css" rel="stylesheet" />
    <link href="~/Areas/Booklet/Views/Styles/comment.css" rel="stylesheet" />
    <!---------------------------- External Libraries-------------------------------------->
    <script src="~/Areas/Booklet/Views/Scripts/Lib/ladda.min.js"></script>
    <script src="~/Areas/Booklet/Views/Scripts/Lib/spin.min.js"></script>
    <script src="~/Areas/Booklet/Views/Scripts/Lib/jquery-1.10.2.js"></script>
    <script src="~/Areas/Booklet/Views/Scripts/Lib/jquery-ui-1.10.4.min.js"></script>
    <script src="~/Areas/Booklet/Views/Scripts/Lib/underscore-min.js"></script>
    <script src="~/Areas/Booklet/Views/Scripts/Lib/backbone-min.js"></script>
    <script src="~/Areas/Booklet/Views/Scripts/Lib/backbone-associations-min.js"></script>
    <script src="~/Areas/Booklet/Views/Scripts/Lib/jquery.ba-outside-events.min.js"></script>
    <script src="~/Areas/Booklet/Views/Scripts/Lib/jquery.layout-latest.min.js"></script>
    <script src="~/Areas/Booklet/Views/Scripts/Lib/jquery.mousewheel.js"></script>
    <script src="~/Areas/Booklet/Views/Scripts/Lib/rangy-core.js"></script>
    <script src="~/Areas/Booklet/Views/Scripts/Lib/meshkatTab.js"></script>
    <script src="~/Areas/Booklet/Views/Scripts/Lib/jquery.ambiance.js"></script>
    <script src="~/Areas/Booklet/Views/Scripts/Lib/jquery.blockUI.js"></script>
    <script src="~/Areas/Booklet/Views/Scripts/Lib/fancytree/jquery.fancytree.min.js"></script>
    <script src="~/Areas/Booklet/Views/Scripts/Lib/renderEngine.js"></script>

    <!---------------------------- Application Scripts------------------------------------->
    <script src="~/general.js"></script>
    <script src="~/Areas/Booklet/Views/Scripts/app.js"></script>
    <!-----Models--------->
    <script src="~/Areas/Booklet/Views/Scripts/models/person.js"></script>
    <script src="~/Areas/Booklet/Views/Scripts/models/book.js"></script>
    <script src="~/Areas/Booklet/Views/Scripts/models/stateItem.js"></script>
    <script src="~/Areas/Booklet/Views/Scripts/models/userPreference.js"></script>
    <script src="~/Areas/Booklet/Views/Scripts/models/section.js"></script>
    <script src="~/Areas/Booklet/Views/Scripts/models/bookCommentSubject.js"></script>
    <script src="~/Areas/Booklet/Views/Scripts/models/bookVolume.js"></script>
    <script src="~/Areas/Booklet/Views/Scripts/models/bookCommentField.js"></script>
    <script src="~/Areas/Booklet/Views/Scripts/models/bookCommentFieldValue.js"></script>
    <script src="~/Areas/Booklet/Views/Scripts/models/bookCommentType.js"></script>
    <script src="~/Areas/Booklet/Views/Scripts/models/bookHighlight.js"></script>
    <script src="~/Areas/Booklet/Views/Scripts/models/bookTableOfContent.js"></script>
    <script src="~/Areas/Booklet/Views/Scripts/models/bookSectionStyle.js"></script>
    <script src="~/Areas/Booklet/Views/Scripts/models/footnote.js"></script>
    <script src="~/Areas/Booklet/Views/Scripts/models/bookParagraph.js"></script>
    <script src="~/Areas/Booklet/Views/Scripts/models/ui/bookPage.js"></script>
    <script src="~/Areas/Booklet/Views/Scripts/models/bookComment.js"></script>
    <script src="~/Areas/Booklet/Views/Scripts/models/bookParagraphsBlock.js"></script>
    <script src="~/Areas/Booklet/Views/Scripts/models/searchResultItems.js"></script>

    <!-----Collections---->
    <!-----Views----------->
    <script src="~/Areas/Booklet/Views/Scripts/views/appView.js"></script>
    <script src="~/Areas/Booklet/Views/Scripts/views/tableOfContentView.js"></script>
    <script src="~/Areas/Booklet/Views/Scripts/views/topBarView.js"></script>
    <script src="~/Areas/Booklet/Views/Scripts/views/commentItemView.js"></script>
    <script src="~/Areas/Booklet/Views/Scripts/views/commentsView.js"></script>
    <script src="~/Areas/Booklet/Views/Scripts/views/editCommentView.js"></script>
    <script src="~/Areas/Booklet/Views/Scripts/views/paragraphView.js"></script>
    <script src="~/Areas/Booklet/Views/Scripts/views/pageView.js"></script>
    <script src="~/Areas/Booklet/Views/Scripts/views/blockView.js"></script>
    <script src="~/Areas/Booklet/Views/Scripts/views/bookletView.js"></script>
    <script src="~/Areas/Booklet/Views/Scripts/views/volumeView.js"></script>
    <script src="~/Areas/Booklet/Views/Scripts/views/searchView.js"></script>
    <script src="~/Areas/Booklet/Views/Scripts/views/searchResultItemView.js"></script>
    <script src="~/Areas/Booklet/Views/Scripts/views/timeoutView.js"></script>
    <!---------------------------- Templates----------------------------------------------->
    <script id="tplVolume" type="text/template">
        <div class='ui-layout-center' style='overflow: hidden; width: 100% !important;'></div>
        <div class='ui-layout-south volumeFooter'>
            <span class="imgLazyLoading">
                <img src="../Areas/Booklet/Views/Styles/images/ajax-loader.gif" alt="در حال دریافت متن" />
            </span>
            <div class="pageNumberPanel">
                <span>صفحه </span>
                <input class="txtPageNumber" type="text" />
                <span>از</span>
                <label class="lblPageCount"></label>
            </div>
        </div>
    </script>
    <script id="tplSearchResultItem" type="text/template">
            <% var volumeInfo = resultItem.getVolumeInfo();%>

            <div class="resultSource">
                <%= resultNumber+" - "%>
                <span class="bookName">
                    <%="کتاب "+volumeInfo.getBook().getBookName()+" - "%>
                </span>
                <span class="bookVolume">
                    <%if(volumeInfo.getVolumeNumber()!=0){%>
                    <%="جلد "+volumeInfo.getVolumeNumber()+" - "%>
                    <%}%>
                </span>
                <span class="pageNumber">
                    <%="صفحه "+resultItem.getParagraphPageNumber()%>
                </span>
            </div>
            <div class="resultLink" data-id="">
                <%=resultItem.getParagraphText()%>
            </div>
    </script>
    <script id="tplCommentItem" type="text/template">
        <div class="commentItem">
            <div class="ui-layout-north commentHeder">
                <span class="commentTypeColor fa fa-circle"></span>
                <span class="commenterName"><%=commentItem.getPersonName()%>
                </span>
                <span class="commentType">نوع توضیح : 
                    <%=commentItem.getType().getBookCommentTypeTitle() %>
                </span>
                <span class="btnCommentHeader iconRemoveComment fa fa-times" style="float: left;" title="حذف"></span>
                <span class="btnCommentHeader iconEditComment fa fa-pencil-square-o" title="ویرایش"></span>
            </div>
            <div class="ui-layout-center commentBody">
                <%if(commentItem.getText().length<200) %>
                    <%=commentItem.getText() %>
                <% else {%>
                    <%=commentItem.getText().substring(0,commentItem.getText().substr(0,200).lastIndexOf(" ")) %>
                    <span class="commentBody-more">(ادامه ...)</span>
                <% } %>
            </div>
        </div>

    </script>
</head>
<body>
    <div id="bookletApplication">
        <div id="topBar" class="ui-layout-north">

            <div id="btnTableOfContent" class="ToolbarButton alignRight fa fa-list" title="فهرست مطالب"></div>
            <div id="btnComments" class="ToolbarButton alignRight fa fa-comments" title="توضیحات"></div>
            <div id="btnHighlight" class="ToolbarButton alignRight fa fa-italic" title="برجسته کردن"></div>
            <div id="btnSearch" class="ToolbarButton alignRight fa fa-search" title="جستجو"></div>
            <input id="txtSearch" data-style="expand-left" type="text" placeholder="جستجو..." />
            <div id="pnlUser">
                <img id="imgUser" src="~/Areas/Booklet/Views/Styles/images/user.png" alt="تصویر کاربر" />
                <div id="pnlUserInfo">
                    <span id="lblUserFullName"></span>
                    <span id="btnLogout">(خروج)</span>
                </div>
            </div>
        </div>
        <div id="mainContent" class="ui-layout-center">
            <div></div>
            <div id="rightBar"></div>
            <div id="leftBar"></div>
            <div id="bookletPanel" class="ui-layout-center">
            </div>
            <div id="commentPanel" class="ui-layout-west">
                <div class="ui-layout-north commentTopBar">
                    <div id="btnCommentMode" class="commentBarButton alignRight fa fa-comment" title="توضیح جدید"></div>
                </div>
                <div class="ui-layout-center">
                    <div id="newCommentArea" class="ui-layout-north">
                        <div class="ui-layout-north editcommentTopBar">
                            ثبت توضیح
                        </div>
                        <div contenteditable="true" id="txtNewComment" class="comment"></div>
                        <label>
                            <select id="cboNewCommentType" class="commentTypeSelect">
                            </select>
                        </label>
                        <div id="commentOptionsDiv">
                            <button id="btnSaveComment" class="btn">تایید</button>
                            <button id="btnCancelSaveComment" class="btn cancelBtn">انصراف</button>
                        </div>
                    </div>
                    <div id="currentCommentsPanel">
                    </div>
                    <div id="editCommentArea">
                        <div class="ui-layout-north editcommentTopBar">
                            ویرایش توضیح
                        </div>

                        <div id="editableContent" class="ui-layout-center">
                            <div id="txtCommentEdit" contenteditable="true" class="txtEditComment"></div>
                        </div>
                        <div class="ui-layout-toggler-south">
                            <label>
                                <select id="cboEditCommentType" class="commentTypeSelect">
                                </select>
                            </label>
                        </div>
                        <div class=" editButtons ui-layout-toggler-south">
                            <button id="btnEditComment" class="btn">ویرایش</button>
                            <button id="btnCancelEditComment" class="btn cancelBtn">انصراف</button>
                        </div>

                    </div>
                </div>
            </div>
            <div id="tableOfContentPanel" class="ui-layout-east">
                <div class="ui-layout-north">
                    <input id="txtTOCSearch" placeholder="جستجو در فهرست ..." type="text" />
                </div>
                <div class="ui-layout-center">
                    <div id="tableOfContentTree"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="pnlTimeout" title="Basic dialog">
        <div style="margin-bottom:10px; ">شما باید مجدداً وارد شوید.</div>
        <span class="btn-default">تایید</span>
    </div>
</body>
</html>

